body{
    margin: 0;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#contact{
    width: 30%;
    border-right: 1px solid gray;
    font-size: 14px;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-container{
    width: 80%;
    margin-top: 70px;
}

#profile-photo{
    display: flex;
    justify-content: center;
}

#info{
    width: 70%;
}