body{
    margin: 0;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#contact{
    width: 30%;
    border-right: 1px solid gray;
    font-size: 14px;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-container{
    width: 80%;
    margin-top: 70px;
}

#profile-photo{
    display: flex;
    justify-content: center;
}

#pp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#contact-details{
    width: 75%;
    margin: 30px auto;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 40px;
}

#contact-details h4 span{
    margin-left: 10px;
    color: gray;
    word-wrap: break-word;
}

#contact-details h4 span a{
    text-decoration: none;
    color: gray;
}

#info{
    width: 70%;
}

#info-container{
    width: 90%;
    margin: 70px auto;
}

#info-container div{
    margin-bottom: 70px;
}

#education table{
    table-layout: auto;
    width: 100%;
    text-align: left;
}

